.images-album{
    margin-top: 20px;
}
.album{
    width: 350px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
    .ablum{
        width: 50%;
        padding: 30px;
    }
}
 
@media only screen and (max-width: 769px) {
    .album{
        width: 100%;
    }
}